[program:app-worker]
process_name=%(program_name)s_%(process_num)02d
command={{ php_artisan }} queue:work --queue=high,batch,single,automation,automation-dispatch --tries=1 --max-time=180
autostart=true
autorestart=true
user=www-data
numprocs=15
redirect_stderr=true
stdout_logfile=/var/log/supervisor/worker-output
stderr_logfile=/var/log/supervisor/worker-error
