/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/users
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/vendor
.env
.env.backup
.env.production
app.zip
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.swp
*.swo
*~
.DS_Store
Thumbs.db
